.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero img {
  margin-top: 15px;
  width: 20%;
  height: auto;
  border-radius: 50px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 35px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.resume-container {
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 40px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
.resume-container .btn {
  color: white;
  font-size: 20px;
}
.resume-container:hover {
  transform: scale(1.05);
}

.contactMe {
  border: 2px solid white;
  display: none;
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  color: #fff;
  cursor: pointer;
}

/* .hero-connect:hover {
  border: 2px solid white;
} */

.contactMe:hover {
  border-color: #b415ff;
}

@media (max-width: 768px) {
  .hero img {
    margin-top: 30px;
    width: 260px;
  }
  .hero h1 {
    margin-top: 10px;
    width: 90%;
    font-size: 50px;
  }
  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .resume-container,
  .contactMe {
    width: 50%; /* Take 50% width on small screens */
    text-align: center; /* Center text inside the div */
    padding: 15px 30px; /* Adjust padding as needed */
    border-radius: 40px; /* Rounded corners */
    cursor: pointer;
  }

  .nav-connect {
    margin-bottom: 20px; /* Increase margin for better spacing */
  }
}
@media (max-width: 768px) {
  .contactMe {
    display: block; /* Show on smaller screens */
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .resume-container {
    display: inline-block;
    padding: 0px 5px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-size: 10px;
  }
  .resume-container .btn {
    font-size: 20px;
    padding: 0px 20px;
  }
}
