.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero img {
  margin-top: 15px;
  width: 20%;
  height: auto;
  border-radius: 50px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 35px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center align the buttons horizontally */
  align-items: center; /* Center align the buttons vertically */
  gap: 10px; /* Add space between the buttons */
  margin-bottom: 10px; /* Space at the bottom of the button container */
}

.know-more,
.resume-container {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 40px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  flex: 1; /* Ensure both buttons take up equal space */
  margin: 0 5px; /* Space between the buttons */
}

.know-more.btn {
  width: 100%;
  padding: 10px 20px; /* Reduced vertical padding */
  overflow: hidden; /* Hide overflow if necessary */
  text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

/*Button stylimg*/

.resume-container .btn {
  width: 100%;
  padding: 10px 0; /* Reduced vertical padding */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow if necessary */
}

.know-more .btn,
.resume-container .btn {
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
}

.know-more:hover,
.resume-container:hover {
  border-color: #b415ff;
  transform: scale(1.05);
}

.resume-container a {
  text-decoration: none;
  color: inherit; /* Ensures text color matches parent */
}

.resume-container a:hover {
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Maintain text color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero img {
    margin-top: 15px;
    width: 220px;
  }

  .hero h1 {
    margin-top: 10px;
    width: 90%;
    font-size: 30px;
  }

  .hero h1 span {
    font-size: 35px;
  }

  .hero p {
    width: 60%;
    font-size: 17px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .button-container {
    flex-direction: row; /* Stack buttons vertically on smaller screens */
    align-items: stretch; /* Ensure buttons take up full width */
  }

  .know-more,
  .resume-container {
    flex: 0 0 auto;
    width: auto; /* Optional: make buttons take up most of the screen width */
  }
}
