.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 50px 50px;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0px 20px;
  font-size: 50px;
  font-weight: 600;
}
.contact-section {
  display: flex;
  gap: 100px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left h1 {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 550px;
  color: white;
  font-size: 20px;
  line-height: 35px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-detail img {
  width: 30px;
  height: 30px;
}
.image {
  transition: transform 0.3s ease; /* Define the transition effect */
}
.image:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}

.form-container {
  max-width: 500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 8px; /* Add border radius for rounded corners */
  text-align: center;
}

.form-container form {
  background-color: #f9f9f9; /* Set background color for the form */
  padding: 50px; /* Add padding for spacing */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  background: linear-gradient(264deg, #eedf5a -5.09%, #b415ff 106.28%);
}

.form-container label {
  display: block; /* Display labels as block elements for better spacing */
  margin-bottom: 5px; /* Add margin below each label */
}

.form-container input,
.form-container textarea {
  width: 100%; /* Make input fields and textarea span the entire width of the container */
  padding: 8px; /* Add padding for input fields */
  margin-bottom: 15px; /* Add margin below each input field */
  border-radius: 5px; /* Add border radius for rounded corners */
  border: 1px solid #ccc; /* Add border for input fields */
}

.form-container button {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 20px;
  padding: 15px 30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
}

.form-container button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
